#data/GenratedAttacks/*
data/ModifiedAttackFiles/*
data/SilkFilesFromSikt/*
data/MixDatasets/*
data/DiffrentSamplingRates/detect/*
data/DiffrentSamplingRates/train/*
transferfiles.py
copingTomachine.py
readfile.py