data/GenratedAttacks/*
!data/GenratedAttacks/.gitignore
data/SilkFilesFromSikt/*
!data/SilkFilesFromSikt/.gitignore
data/DiffrentSamplingRates/detect/*
!data/DiffrentSamplingRates/detect/.gitignore
data/DiffrentSamplingRates/train/*
!data/DiffrentSamplingRates/train/.gitignore
data/Classifiers/*
!data/Classifiers/result/.gitignore
data/ModifiedAttackFiles/*
!data/ModifiedAttackFiles/.gitignore
transferfiles.py
copingTomachine.py
keyklassier.pem